# Ortak Wi-Fi ve Ağ Ayarları (Örnek Şablon)
wifi_ssid: "WIFI_ADINIZ"
wifi_password: "WIFI_SIFRENIZ"
network_gateway: 192.168.1.1
network_subnet: 255.255.255.0
network_dns1: 1.1.1.1
network_dns2: 8.8.8.8

# ESP-12F Özel Bilgileri
esp12f_static_ip: 192.168.1.206
esp12f_fallback_ssid: "esp-12f Fallback Hotspot"
esp12f_fallback_password: "fallback_sifresi"

# ESP32-S3 Özel Bilgileri
esp32s3_static_ip: 192.168.1.207
esp32s3_fallback_ssid: "esp32-s3 Fallback Hotspot"
esp32s3_fallback_password: "fallback_sifresi"
esp32s3_api_key: "ORNEK_ENCRYPTION_KEY"
